/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `block-borderlate` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
block-borderlate {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't atblock-bordert to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Общие стили. Каркас
   ========================================================================== */

@font-face {
  font-family: "Open Sans";
  src: url(.././fonts/OpenSansCondensed-Bold.woff2) format("woff2"),
      url(.././fonts/OpenSansCondensed-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url(.././fonts/OpenSans-Regular.woff2) format("woff2"),
      url(.././fonts/OpenSans-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #232321;
}

main {
  position: relative;
}

.content-box-component {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.container {
  width: 1360px;
  margin: 0 auto;
}

.modal-open {
  height: 100vh;
  overflow: hidden;
}


/**
 * Кнопка закрытия модального окна
 */

.cancel {
  display: block;
  margin: 0;
  padding: 0;

  width: 42px;
  height: 42px;

  font-size: 0;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: url(../img/icon-cross.svg);
  background-position: center;
  background-repeat: no-repeat;

  border: 0;
  border-radius: 2px;

  opacity: 0.6;
}

.cancel:hover,
.cancel:focus {
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}

.cancel:active {
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}


/**
 * Оверлей под экранами
 */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  width: 100%;
  height: 100%;
  padding-top: 60px;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.8);
}


/* Блок с фильтрами изображений других пользователей
   ========================================================================== */

.img-filters {
  padding: 20px 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
}

.img-filters--inactive {
  opacity: 0;
}

.img-filters__button {
  padding: 5px 15px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: auto;
  text-transform: uppercase;

  cursor: pointer;
  background-color: #232321;
  border: none;
}

.img-filters__button:active,
.img-filters__button--active {
  color: #ff4e4e;

  background-color: #ffffff;
  border-radius: 2px;
}

.img-filters__label {
  padding: 5px 15px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: auto;

  cursor: pointer;
}

.img-filters__radio:focus + .img-filters__label {
  outline: auto 5px highlight;
}

.img-filters__radio:checked + .img-filters__label {
  color: #ff4e4e;
  text-decoration: none;

  background-color: #ffffff;
  border-radius: 2px;
}


/* Блок, в котором размещаются фотографии других пользователей
   ========================================================================== */

.pictures {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;

  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.picture {
  position: relative;
  line-height: 0;
}

.picture__img {
  max-width: auto;
  width: 100%;
  height: auto;
}

.picture__info {
  display: none;

  margin: 0;
  padding: 15px;
  position: absolute;
  bottom: 10px;
  left: 50%;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.picture:hover .picture__info,
.picture:focus .picture__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  pointer-events: none;
}

.picture__comments,
.picture__likes {
  padding-left: 30px;
  position: relative;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  color: #ffffff;

  pointer-events: none;
}

.picture__comments {
  margin-right: 10px;
}

.picture__comments::before,
.picture__likes::before {
  content: "";
  position: absolute;
  left: 5px;
  top: -7px;

  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}

.picture__comments::before {
  width: 20px;
  height: 16px;

  background-position: -5px -5px;
}

.picture__likes::before {
  width: 20px;
  height: 16px;

  background-position: -5px -31px;
}


/* Поле для загрузки нового изображения
   ========================================================================== */

.img-upload {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / span 3;

  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
}

.img-upload__wrapper {
  margin: 0 auto;
  padding-bottom: 60px;
  width: 582px;

  text-align: center;
}

.img-upload__form {
  position: relative;
  min-height: 569px;

  background-color: #eed21e;
  background-image: url(../img/logo-background-1.jpg);
  background-repeat: no-repeat;
  background-position: center;

  border: none;
}

.img-upload__start {
  position: relative;

  margin: 0;
  padding: 0;
  min-height: 569px;

  background-image: url(../img/logo-mask.png);
  background-repeat: no-repeat;
  background-position: center;

  border: none;
}

.img-upload__label {
  position: absolute;

  top: 194px;
  left: 203px;

  width: 180px;
  height: 181px;

  font-size: 0;

  background-image: url(../img/upload-button-bg.png);
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.img-upload__label::after {
  content: "";
  position: absolute;

  top: 32px;
  left: 47px;

  width: 86px;
  height: 114px;

  background-image: url(../img/upload-button.svg);
  background-repeat: no-repeat;
  background-position: center;

  -webkit-filter: drop-shadow(0 0 10px #943106);
          filter: drop-shadow(0 0 10px #943106);
}

.img-upload__label:hover::after,
.img-upload__label:active::after {
  -webkit-filter: drop-shadow(0 0 10px #622104);
          filter: drop-shadow(0 0 10px #622104);

  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.img-upload__input:focus + .img-upload__label {
  outline: auto 5px highlight;
}


/* Окно для редактирования изображения
   ========================================================================== */

.img-upload__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  width: 100%;
  height: 100%;

  padding-top: 60px;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.8);
}

.img-upload__preview-container {
  position: relative;
  margin-bottom: 30px;
}


/**
 * Кнопки изменения масштаба изобраения
 */

.img-upload__scale {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.scale {
  margin: 0;
  padding: 10px;

  font-size: 0;
  border: 0;
}

.scale__control {
  position: relative;

  width: 33px;
  height: 33px;
  margin: 0;
  padding: 0;

  text-align: center;
  vertical-align: middle;

  background-color: rgba(0, 0, 0, 0.6);
  border: 0;
}

.scale__control:hover,
.scale__control:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.scale__control:active {
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}

.scale__control--smaller {
  border-radius: 50% 0 0 50%;
}

.scale__control--smaller::before {
  content: "–";
  position: absolute;
  top: 50%;
  left: 50%;

  font-size: 20px;
  line-height: 0;
  color: #ffffff;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.scale__control--value {
  width: 60px;

  font-size: 16px;
  color: #ffffff;

  border: solid rgba(255, 255, 255, 0.5);
  border-width: 0 2px;
}

.scale__control--bigger {
  border-radius: 0 50% 50% 0;
}

.scale__control--bigger::before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;

  font-size: 20px;
  line-height: 0;
  color: #ffffff;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}


/**
 * Превью изображения
 */

.img-upload__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;

  width: 600px;
  height: 600px;

  background-color: #ffffff;
}

.img-upload__preview img {
  display: block;
  max-width: 600px;
  max-height: 600px;
}


/**
 * Шкала регулирования глубины фильтра
 */

.effect-level {
  position: absolute;
  bottom: 9px;
  left: 50%;

  padding: 7px 11px 0;

  width: 495px;
  height: 34px;

  font-size: 12px;
  text-align: center;
  color: #ffffff;
  white-space: nowrap;

  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 34px;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.effect-level .noUi-target {
  border-radius: 16px;
}

.effect-level .noUi-connects {
  border-radius: 13px;
}

.effect-level .noUi-connect {
  background: #ffe753;
}

.effect-level__value {
  display: none;
}


/**
 * Блок с эффектами, которые можно применить к изображению
 */

.effects {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  border: none;
}

.effects__list {
  margin: 0;
  padding: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;

  list-style: none;
  text-align: center;
}

.effects__item {
  margin-right: 5px;
}

.effects__label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;

  cursor: pointer;
}

.effects__label:hover,
.effects__label:focus,
.effects__radio:checked + .effects__label {
  color: #ffe753;
}

.effects__preview {
  display: block;
  width: 70px;
  height: 70px;
  margin-bottom: 5px;

  overflow: hidden;

  font-size: 0;

  background-color: #314359;
  background-image: url(../img/upload-default-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;

  border: solid 5px transparent;
  border-radius: 5px;
}

.effects__preview:last-of-type {
  margin-right: 0;
}

.effects__radio:checked + .effects__label .effects__preview {
  border: 5px solid #ffe753;
}

.effects__radio:focus + .effects__label .effects__preview {
  outline: auto 5px highlight;
}

.effects__preview--chrome {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.effects__preview--sepia {
  -webkit-filter: sepia(1);
          filter: sepia(1);
}

.effects__preview--marvin {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.effects__preview--phobos {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.effects__preview--heat {
  -webkit-filter: brightness(3);
          filter: brightness(3);
}


/**
 * Блок добавления хэштегов и комментария к изображению
 */

.text {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  text-align: center;
  border: none;
}

.text__hashtags {
  width: 450px;

  margin: 0 auto;
  margin-bottom: 20px;
  padding: 5px 10px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;

  border-radius: 5px;
}

.text__description {
  width: 450px;
  height: 100px;

  margin: 0 auto;
  padding: 15px 10px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;

  border-radius: 5px;
}


/**
 * Кнопка для отправки изображения
 */

.img-upload__submit {
  padding: 10px 20px;

  color: #ffe753;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;

  background-color: rgba(255, 231, 82, 0.2);

  border: 0;
  border-radius: 4px;
}

.img-upload__submit:hover,
.img-upload__submit:focus {
  background-color: rgba(255, 231, 82, 0.4);
}

.img-upload__submit:active {
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}

.img-upload__submit:disabled,
.img-upload__submit--disabled {
  opacity: 0.3;
}


/*
 * Кнопка для закрытия окна редактирования изображения
 */

.img-upload__cancel {
  position: absolute;
  top: 0;
  left: 610px;
}

.img-upload__cancel:active {
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}


/* Окно полноэкранного просмотра изображения
   ========================================================================== */

.big-picture__preview {
  position: absolute;
  top: 60px;
  left: 50%;

  max-width: 600px;
  min-height: 600px;

  padding-bottom: 60px;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.big-picture__img img {
  display: block;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;

  max-width: 600px;

  color: #000000;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  text-transform: none;

  background-color: #ffffff;
}


/*
 * Подпись к изображению
 */

.social__header {
  padding: 15px 15px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: start;
     -ms-flex-pack: start;
   justify-content: flex-start;

  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;

  border-bottom: 1px solid #cccccc;
}

.social__picture {
  display: block;
  -ms-flex-negative: 0;
        flex-shrink: 0;
  margin-right: 15px;
}

.social__caption {
  margin: 0;
  margin-right: 15px;
}

.social__likes {
  margin: 0;
  margin-left: auto;
  min-width: 125px;
}

.likes-count {
  position: relative;
  padding-left: 30px;

  color: #f48181;

  cursor: pointer;
}

.likes-count:hover {
  color: #e90000;
}

.likes-count::before {
  content: "";
  position: absolute;

  top: 3px;
  left: 5px;

  width: 20px;
  height: 18px;

  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;

  background-position: -5px -56px;
  opacity: 0.5;
}

.likes-count:hover::before,
.likes-count:focus::before {
  opacity: 1;
}

.likes-count:active::before,
.likes-count--active::before {
  opacity: 1;
  background-position: -5px -81px;
}


/*
 * Комментарии к изображению
 */

.social__comments {
  -ms-flex-preferred-size: 100%;
               flex-basis: 100%;

  list-style: none;

  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.social__comment {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}

.social__comment-count {
  padding-top: 20px;
  padding-left: 65px;
}

.social__comments-loader {
  padding: 0;
  padding-left: 65px;
  padding-bottom: 20px;
  position: relative;

  text-align: left;
  color: #3b77c0;

  background: none;
  border: none;
}

.comments-loader {
  text-align: left;
  color: #3b77c0;

  background: none;
  border: none;
}

.social__text {
  margin: 0;
}


/**
 * Спиннер загрузки комментариев и его анимация
 */

.spinner::after,
.comments-loader:active::after {
  content: "";
  position: absolute;
  left: 200px;
  top: 7px;

  color: #3b77c0;
  font-size: 6px;

  width: 1em;
  height: 1em;
  border-radius: 50%;

  animation: spinner 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes spinner {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #3b77c0, 1.8em -1.8em 0 0em rgba(51,102,204, 0.2), 2.5em 0em 0 0em rgba(51,102,204, 0.2), 1.75em 1.75em 0 0em rgba(51,102,204, 0.2), 0em 2.5em 0 0em rgba(51,102,204, 0.2), -1.8em 1.8em 0 0em rgba(51,102,204, 0.2), -2.6em 0em 0 0em rgba(51,102,204, 0.5), -1.8em -1.8em 0 0em rgba(51,102,204, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,102,204, 0.7), 1.8em -1.8em 0 0em #3b77c0, 2.5em 0em 0 0em rgba(51,102,204, 0.2), 1.75em 1.75em 0 0em rgba(51,102,204, 0.2), 0em 2.5em 0 0em rgba(51,102,204, 0.2), -1.8em 1.8em 0 0em rgba(51,102,204, 0.2), -2.6em 0em 0 0em rgba(51,102,204, 0.2), -1.8em -1.8em 0 0em rgba(51,102,204, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,102,204, 0.5), 1.8em -1.8em 0 0em rgba(51,102,204, 0.7), 2.5em 0em 0 0em #3b77c0, 1.75em 1.75em 0 0em rgba(51,102,204, 0.2), 0em 2.5em 0 0em rgba(51,102,204, 0.2), -1.8em 1.8em 0 0em rgba(51,102,204, 0.2), -2.6em 0em 0 0em rgba(51,102,204, 0.2), -1.8em -1.8em 0 0em rgba(51,102,204, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,102,204, 0.2), 1.8em -1.8em 0 0em rgba(51,102,204, 0.5), 2.5em 0em 0 0em rgba(51,102,204, 0.7), 1.75em 1.75em 0 0em #3b77c0, 0em 2.5em 0 0em rgba(51,102,204, 0.2), -1.8em 1.8em 0 0em rgba(51,102,204, 0.2), -2.6em 0em 0 0em rgba(51,102,204, 0.2), -1.8em -1.8em 0 0em rgba(51,102,204, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,102,204, 0.2), 1.8em -1.8em 0 0em rgba(51,102,204, 0.2), 2.5em 0em 0 0em rgba(51,102,204, 0.5), 1.75em 1.75em 0 0em rgba(51,102,204, 0.7), 0em 2.5em 0 0em #3b77c0, -1.8em 1.8em 0 0em rgba(51,102,204, 0.2), -2.6em 0em 0 0em rgba(51,102,204, 0.2), -1.8em -1.8em 0 0em rgba(51,102,204, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,102,204, 0.2), 1.8em -1.8em 0 0em rgba(51,102,204, 0.2), 2.5em 0em 0 0em rgba(51,102,204, 0.2), 1.75em 1.75em 0 0em rgba(51,102,204, 0.5), 0em 2.5em 0 0em rgba(51,102,204, 0.7), -1.8em 1.8em 0 0em #3b77c0, -2.6em 0em 0 0em rgba(51,102,204, 0.2), -1.8em -1.8em 0 0em rgba(51,102,204, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,102,204, 0.2), 1.8em -1.8em 0 0em rgba(51,102,204, 0.2), 2.5em 0em 0 0em rgba(51,102,204, 0.2), 1.75em 1.75em 0 0em rgba(51,102,204, 0.2), 0em 2.5em 0 0em rgba(51,102,204, 0.5), -1.8em 1.8em 0 0em rgba(51,102,204, 0.7), -2.6em 0em 0 0em #3b77c0, -1.8em -1.8em 0 0em rgba(51,102,204, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,102,204, 0.2), 1.8em -1.8em 0 0em rgba(51,102,204, 0.2), 2.5em 0em 0 0em rgba(51,102,204, 0.2), 1.75em 1.75em 0 0em rgba(51,102,204, 0.2), 0em 2.5em 0 0em rgba(51,102,204, 0.2), -1.8em 1.8em 0 0em rgba(51,102,204, 0.5), -2.6em 0em 0 0em rgba(51,102,204, 0.7), -1.8em -1.8em 0 0em #3b77c0;
  }
}


/*
 * Форма для отправки комментария
 */

.social__footer {
  border-top: 1px solid #cccccc;
}

.big-picture__cancel {
  position: absolute;
  top: 0;
  left: 100%;

  margin-left: 10px;
}

.social__footer {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 15px;
}

.social__footer-commentor {
  display: block;

  margin-right: 15px;
}

.social__footer-text {
  width: 100%;

  border: none;
}

.social__footer-btn {
  position: absolute;
  right: 15px;
  top: 50%;

  width: 34px;
  height: 34px;

  font-size: 0;

  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -5px -106px;

  opacity: 0.6;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  border: none;
}

.social__footer-btn:hover,
.social__footer-btn:focus {
  opacity: 1;
}

.social__footer-btn:active,
.social__footer-btn--active {
  opacity: 1;
  background-position: -5px -149px;
}


/* Подвал сайта
   ========================================================================== */

.page-footer {
  margin-top: 30px;
  padding-top: 30px;
  border-top: solid 1px #cccccc;
}

.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: start;
     -ms-flex-align: start;
        align-items: flex-start;

  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
}


/*
 * Копирайт Академии
 */

.copyright {
  font-size: 12px;
}

.copyright__link--image:hover,
.copyright__link--image:focus {
  opacity: 0.6;
}

.copyright__link--text {
  color: #ffffff;
}

.copyright__link--text:hover,
.copyright__link--text:focus {
  opacity: 0.6;
}

.page-footer__contacts {
  background-color: inherit;
}


/*
 * Ссылки на социальные сети
 */

.contacts {
  margin: 0;
  padding: 0;
  list-style: none;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__link {
  display: block;

  width: 29px;
  height: 29px;
  margin-left: 10px;

  font-size: 0;

  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;

  opacity: 0.6;
  cursor: pointer;
}

.contacts__link:hover,
.contacts__link:focus {
  opacity: 1;
}

.contacts__link--twitter {
  background-position: -5px -270px;
}

.contacts__link--instagram {
  background-position: -5px -231px;
}

.contacts__link--facebook {
  background-position: -5px -192px;
}

.contacts__link--vk {
  background-position: -5px -309px;
}


/* Экраны с сообщениями для пользователя
   ========================================================================== */

.img-upload__message {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 0;

  padding-top: 250px;

  width: 600px;
  height: 100%;

  font-family: "Open Sans", "Arial", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #ffe753;

  background-color: #3c3614;
  transform: translateX(-50%);
}


/**
 * Экраны ошибки и успеха загрузки изображения
 */

.error,
.success {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.8);
}

.error__inner,
.success__inner {
  position: relative;
  width: 600px;
  padding: 50px 20px;
  padding-top: 150px;
  margin-top: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Open Sans", "Arial", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #ffe753;

  background-color: #3c3614;
  border-radius: 10px;
}

.success__inner {
  padding: 100px 20px;
  padding-bottom: 75px;
}

.error__title {
  position: relative;

  margin: 0;
  margin-bottom: 50px;

  font-size: 32px;
}

.success__title {
  margin: 0;
  margin-bottom: 50px;

  font-size: 32px;
}

.error__title::before {
  content: "";
  position: absolute;

  width: 59px;
  height: 52px;

  top: -100px;
  left: 50%;

  background-image: url(../img/icon-warning.svg);

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.error__button,
.success__button {
  padding: 5px 10px;

  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 5px;
}

.error__button:hover,
.error__button:focus,
.success__button:hover,
.success__button:focus {
  opacity: 0.8;
}

.error__button:active,
.success__button:active {
  opacity: 0.6;
}


/**
 * Экран загрузки изображения
 */

.img-upload__message--loading::before {
  content: "";
  position: absolute;
  bottom: 40%;
  left: 50%;

  width: 300px;
  height: 10px;

  background-color: #8a7d2d;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.img-upload__message--loading::after {
  content: "";
  position: absolute;
  bottom: 40%;
  left: 50%;

  width: 200px;
  height: 10px;

  background-color: #ffe753;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}


/* Адаптивности чуток
   ========================================================================== */

@media (min-width: 1024px) {
  .img-upload__wrapper {
    padding-bottom: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1359px) {
  .container {
    width: 980px;
  }

  .pictures {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
  }

  .img-upload {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / span 3;

    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / span 3;
  }
}

@media (min-width: 0) and (max-width: 1023px) {
  .container {
    width: 600px;
  }

  .pictures {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .img-upload {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;

    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / span 3;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

/*! nouislider - 14.6.4 - 3/18/2021 */
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
}
.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
/* Wrapper for all connect elements.
 */
.noUi-connects {
  overflow: hidden;
  z-index: 0;
}
.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}
.noUi-connect {
  height: 100%;
  width: 100%;
}
.noUi-origin {
  height: 10%;
  width: 10%;
}
/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}
/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
  width: 0;
}
.noUi-horizontal .noUi-origin {
  height: 0;
}
.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.noUi-touch-area {
  height: 100%;
  width: 100%;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 18px;
}
.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}
.noUi-vertical {
  width: 18px;
}
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  top: -17px;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}
/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-connects {
  border-radius: 3px;
}
.noUi-connect {
  background: #3FB8AF;
}
/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;
}
.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}
.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}
.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}
/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}
.noUi-handle:after {
  left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}
.noUi-vertical .noUi-handle:after {
  top: 17px;
}
/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}
/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-pips {
  position: absolute;
  color: #999;
}
/* Values;
 *
 */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}
.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}
/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC;
}
.noUi-marker-sub {
  background: #AAA;
}
.noUi-marker-large {
  background: #AAA;
}
/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}
.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}
.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px;
}
.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}
.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}
.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}
.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}
.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}
.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}
.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}


/*# sourceMappingURL=main.css.map*/